@font-face {
    font-family: fuenteTekoMedium;
    src: url(../fuentes/teko/Teko-Medium.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

main {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.recorrido_de_paginas {
    display: flex;
    width: 100%;
    height: 150px;
    padding: 15px;
    align-items: center;
    font-family: fuenteTekoMedium;
}

.recorrido_de_paginas p {
    font-size: 40pt;
    font-family: fuenteTekoMedium;

}

.ficha_del_libro {
    margin-top: 50px;
    height: 745px;
    display: flex;
    width: 90%;
    margin-left: 5%;
}

.ficha_del_libro .portada_contenedor {
    width: 30%;
    height: 100%;
    margin-right: 3%;
    border-right: solid 2px black;
}

.portada {
    width: 90%;
    height: 100%;
    margin-right: 5%;
}

.informacion_del_libro {
    width: 75%;
    height: 100%;
}

.titulo_autor_fecha {
    margin-top: 25px;
}

.autor_y_fecha {
    border-bottom: solid 2px black;
    width: 100%;
    height: 50px;
    display: flex;

}

.titulo_del_libro
{
    font-size: 36pt;
}

.fecha_del_libro {
    width: 50%;

    font-size: 24pt;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.autor_del_libro {
    width: 10%;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;

    font-size: 24pt;
}

.sinopsis {
    border-bottom: solid 2px black;
    margin-top: 25px;
    height: 40%;
    margin-bottom: 25px;
}

.cantidad_y_calificacion {
    border-bottom: solid 2px black;
    height: 15%;
    display: flex;
}

.cantidad_y_calificacion p{
    font-size: 24pt;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nombres_cantidad_y_calificacion
{
    width: 75%;
}

.numeros_cantidad_y_calificacion
{
    width: 5%;
}

.numeros_cantidad_y_calificacion p
{
    font-family: fuenteTekoBold;
    color: #c2a83e;
}

.icono_estrella
{
    width: 15%;
    height: 40px;
}

.icono_estrella img
{
    width: 15%;
    height: 40px;
}
.boton_nueva_resena button {
    width: 40%;
    height: 50px;
    border-radius: 35px;
    font-size: 2em;
    background-color: #2f3a3f;
    color: #c2a83e;
}

.boton_nueva_resena {
    width: 100%;
    height: 20%;
    align-items: center;
    display: flex;
}

.seccion_resena {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #2f3a3f;
    display: flex;
    padding: 15px;
    align-items: center;
}

.seccion_resena h2 {
    font-family: "nexa", sans-serif;
    font-weight: 600;
    font-style: normal;

    color: white;
}

.contenedorResenas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.plantilla_resena {
    width: 90%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.datos_de_la_resena {
    width: 100%;
    height: auto;
    border: solid 2px #aaaaaa;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.inputs_de_la_resena {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.usuario {
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
}

.usuario p {
    width: 35%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;
}

.usuario input {
    width: 70%;
    margin-bottom: 0;
}

.asunto {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 5%;
    align-items: center;
}

.asunto p {
    width: 15%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.asunto input {
    width: 85%;
    margin-bottom: 0;

}

.fecha {
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-left: 5%;
    align-items: center;
}

.fecha p {
    width: 25%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.fecha input {
    width: 70%;
    align-items: center;
    margin-bottom: 0;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.calificacion {
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
}

.calificacion p {
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.calificacion img {
    height: 100%;
}

.texto_de_la_resena {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.texto_de_la_resena p {
    width: 15%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.cuerpo_de_la_resena {
    height: 200px;
    width: 90%;
    border-radius: 5px;
}

.numero_de_resena
{
    font-family: "nexa", sans-serif;
font-weight: 500;
font-style: italic;

    font-size: 24pt;
}