* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@font-face {
    font-family: fuenteTekoMedium;
    src: url(../fuentes/teko/Teko-Medium.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

@font-face {
    font-family: fuenteCinzelBlack;
    src: url(../fuentes/cinzel/Cinzel-Black.otf);
}

@font-face {
    font-family: fuenteCinzelSemiBold;
    src: url(../fuentes/cinzel/Cinzel-Regular.otf);
}

main {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.recorrido_de_paginas {
    display: flex;
    width: 100%;
    height: 150px;
    padding: 15px;
    align-items: center;
    font-family: fuenteTekoMedium;
}

.recorrido_de_paginas p {
    font-size: 40pt;
    font-family: fuenteTekoMedium;

}

.contenedor_resenas_hechas {
    width: 60%;
    height: auto;
    border-right: solid 4px #a8a8a8;
    justify-items: center;
}

.contenedor_nueva_resena {
    width: 30%;
    height: auto;

}


.plantilla_resena {
    width: 90%;
    height: auto;
    margin-top: 25px;
}

.datos_de_la_resena {
    width: 100%;
    height: auto;
    border: solid 2px #aaaaaa;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.inputs_de_la_resena {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.usuario {
    display: flex;
    flex-direction: row;
    width: 35%;
    align-items: center;
}

.usuario p {
    width: 35%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;
}

.usuario input {
    width: 70%;
    margin-bottom: 0;
        border-radius: 15px;

}

.asunto {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 0%;
    align-items: center;
}

.asunto p {
    width: 25%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.asunto input {
    width: 85%;
    margin-bottom: 0;
    border-radius: 15px;
}

.fecha {
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-left: 0%;
    align-items: center;
}

.fecha p {
    width: 45%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.fecha input {
    width: 70%;
    align-items: center;
    margin-bottom: 0;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
        border-radius: 15px;

}

.calificacion {
    width: 20%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    align-items: center;
}

.calificacion p {
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.calificacion img {
    height: 100%;
}

.texto_de_la_resena {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.texto_de_la_resena p {
    width: 15%;
    font-family: "nexa", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;

}

.cuerpo_de_la_resena {
    height: 200px;
    width: 90%;
    border-radius: 5px;
}

.numero_de_resena {
    font-family: "nexa", sans-serif;
    font-weight: 500;
    font-style: italic;

    font-size: 24pt;
}

.botones_de_nueva_reseña
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    /*justify-content: center;*/
    justify-content: space-between;

}

.publicar_resena , .cancelar_resena
{
    width: 35%;
    font-size:2em;
    font-family: fuenteTekoBold;
    height: 5%;
    margin-top: 5%;
}

.publicar_resena
{
    background-color: #2f3a3f;
    color: #c1c1c1;
}

.publicar_resena:hover
{
    background-color: #2f3a3f;
    color: #c2a83e;
}

.cancelar_resena 
{
    background-color: #2f3a3f;
    color: #c1c1c1;
}

.cancelar_resena:hover
{
    background-color: #8b0000;
    color: #c1c1c1;
}